body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#board {
    border: 1px dotted red;
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    
}

.black {
    background-color: black;
}